<head>
    <%= javascript_import_module_tag "user" %>
</head>

<div class="mypage-title"><%= @user.name %><span>さんのマイページ</span></div>
<div class="title2-container">
<div class="change-month go-pre"><%= link_to '←', user_path(id: params[:id], year: params[:year], month: params[:month], p: @x) %></div>
<div class="title2"><%= @this_year %><span>年</span><%= @this_month %><span>月</span></div>
<div class="change-month go-next"><%= link_to '→', user_path(id: params[:id], year: params[:year], month: params[:month], n: @x) %></div>
</div>

<div class="monthly-summary">
  <div class="monthly-summary__item">
    <span class="monthly-summary__label">規定勤務日数</span>
    <span class="monthly-summary__value">
      <%= @planned_working_days.present? ? "#{@planned_working_days}日" : '未設定' %>
    </span>
  </div>
  <div class="monthly-summary__item">
    <span class="monthly-summary__label">打刻回数</span>
    <span class="monthly-summary__value"><%= @monthly_timestamp_count %>日</span>
  </div>
</div>

<%= link_to new_time_path, class: "add-data" do %><span>＋</span>打刻する<% end %>

<div class="calender-title">-打刻履歴-</div>

<table class="mypage-calender" data-user-id="<%= @user.id %>" data-year="<%= @this_year %>" data-month="<%= @this_month %>">
    <tr class="mypage-week">
      <td>日</td>
      <td>月</td>
      <td>火</td>
      <td>水</td>
      <td>木</td>
      <td>金</td>
      <td>土</td>
    </tr>
    <tr>
        <% 7.times do |x| %>
        <td class="<%= 'holiday' if @week_period.any? { |period| period.wday == x && HolidayJapan.check(period) } %>">
            <% @week_period.each do |period| %>
            <% if x == period.wday %>
                <span><%= period.day %></span>
                <div class="mypage-details">
                <% @timestamps[period.day].each do |timestamp| %>
                    <%= link_to("/times/#{timestamp.id}") do %>
                    <div class="content-detail time">
                    <p><%= timestamp.place %></p>
                    <p><%= timestamp.start_time&.strftime("%H:%M") %></p>
                    <p class="to"></p>
                    <p><%= timestamp.finish_time&.strftime("%H:%M") %></p>
                    </div>
                    <% if timestamp.day_off %>
                        <div class="cross">×</div>
                    <% else %>
                        <div class="circle"></div>
                    <% end %>
                    <% end %>
                <% end %>
                </div>
            <% end %>
            <% end %>
        </td>
        <% end %>
    </tr>
    <tr>
        <% 7.times do |x| %>
        <td class="<%= 'holiday' if @week_period2.any? { |period| period.wday == x && HolidayJapan.check(period) } %>">
            <% @week_period2.each do |period| %>
            <% if x == period.wday %>
            <span><%= period.day %></span>
                <div class="mypage-details">
                <% @timestamps[period.day].each do |timestamp| %>
                    <%= link_to("/times/#{timestamp.id}") do %>
                    <div class="content-detail time">
                    <p><%= timestamp.place %></p>
                    <p><%= timestamp.start_time&.strftime("%H:%M") %></p>
                    <p class="to"></p>
                    <p><%= timestamp.finish_time&.strftime("%H:%M") %></p>
                    </div>
                    <% if timestamp.day_off %>
                        <div class="cross">×</div>
                    <% else %>
                        <div class="circle"></div>
                    <% end %>
                    <% end %>
                <% end %>
                </div>
            <% end %>
            <% end %>
        </td>
        <% end %>
    </tr>
    <tr>
        <% 7.times do |x| %>
        <td class="<%= 'holiday' if @week_period3.any? { |period| period.wday == x && HolidayJapan.check(period) } %>">
            <% @week_period3.each do |period| %>
            <% if x == period.wday %>
            <span><%= period.day %></span>
                <div class="mypage-details">
                <% @timestamps[period.day].each do |timestamp| %>
                    <%= link_to("/times/#{timestamp.id}") do %>
                    <div class="content-detail time">
                    <p><%= timestamp.place %></p>
                    <p><%= timestamp.start_time&.strftime("%H:%M") %></p>
                    <p class="to"></p>
                    <p><%= timestamp.finish_time&.strftime("%H:%M") %></p>
                    </div>
                    <% if timestamp.day_off %>
                        <div class="cross">×</div>
                    <% else %>
                        <div class="circle"></div>
                    <% end %>
                    <% end %>
                <% end %>
                </div>
            <% end %>
            <% end %>
        </td>
        <% end %>
    </tr>
    <tr>
        <% 7.times do |x| %>
        <td class="<%= 'holiday' if @week_period4.any? { |period| period.wday == x && HolidayJapan.check(period) } %>">
            <% @week_period4.each do |period| %>
            <% if x == period.wday %>
            <span><%= period.day %></span>
                <div class="mypage-details">
                <% @timestamps[period.day].each do |timestamp| %>
                    <%= link_to("/times/#{timestamp.id}") do %>
                    <div class="content-detail time">
                    <p><%= timestamp.place %></p>
                    <p><%= timestamp.start_time&.strftime("%H:%M") %></p>
                    <p class="to"></p>
                    <p><%= timestamp.finish_time&.strftime("%H:%M") %></p>
                    </div>
                    <% if timestamp.day_off %>
                        <div class="cross">×</div>
                    <% else %>
                        <div class="circle"></div>
                    <% end %>
                    <% end %>
                <% end %>
                </div>
            <% end %>
            <% end %>
        </td>
        <% end %>
    </tr>
    <tr>
        <% 7.times do |x| %>
        <td class="<%= 'holiday' if @week_period5.any? { |period| period.wday == x && HolidayJapan.check(period) } %>">
            <% @week_period5.each do |period| %>
            <% if x == period.wday %>
            <% if period.day >= 8 %>
            <span><%= period.day %></span>
                <div class="mypage-details">
                <% @timestamps[period.day].each do |timestamp| %>
                    <%= link_to("/times/#{timestamp.id}") do %>
                    <div class="content-detail time">
                    <p><%= timestamp.place %></p>
                    <p><%= timestamp.start_time&.strftime("%H:%M") %></p>
                    <p class="to"></p>
                    <p><%= timestamp.finish_time&.strftime("%H:%M") %></p>
                    </div>
                    <% if timestamp.day_off %>
                        <div class="cross">×</div>
                    <% else %>
                        <div class="circle"></div>
                    <% end %>
                    <% end %>
                <% end %>
                </div>
            <% end %>
            <% end %>
            <% end %>
        </td>
        <% end %>
    </tr>
    <% if (@wlast_day5 + 1).month == @this_month %>
    <tr>
    <% 7.times do |x| %>
        <td class="<%= 'holiday' if @week_period6.any? { |period| period.wday == x && HolidayJapan.check(period) } %>">
        <% @week_period6.each do |period| %>
        <% if x == period.wday && period.day > 6 %>
        <span><%= period.day %></span>
            <div class="mypage-details">
                <% @timestamps[period.day].each do |timestamp| %>
                    <%= link_to("/times/#{timestamp.id}") do %>
                    <div class="content-detail time">
                    <p><%= timestamp.place %></p>
                    <p><%= timestamp.start_time&.strftime("%H:%M") %></p>
                    <p class="to"></p>
                    <p><%= timestamp.finish_time&.strftime("%H:%M") %></p>
                    </div>
                    <% if timestamp.day_off %>
                        <div class="cross">×</div>
                    <% else %>
                        <div class="circle"></div>
                    <% end %>
                    <% end %>
                <% end %>
            </div>
        <% end %>
        <% end %>
        </td>
    <% end %>
    </tr>
    <% end %>
</table>

<% if @user.id == 2 %>
<%= @now %>
<%= @abs_this_month %>月<%= @day %>日<br>
<%= @hour %>時<%= @minute %>分<br>
timezone == <%= @zone %>
<% end %>

<div class="title2-container">
<div class="change-month go-pre"><%= link_to '←', user_path(id: params[:id], year: params[:year], month: params[:month], p: @x) %></div>
<div class="title2"><%= @this_year %><span>年</span><%= @this_month %><span>月</span></div>
<div class="change-month go-next"><%= link_to '→', user_path(id: params[:id], year: params[:year], month: params[:month], n: @x) %></div>
</div>
