<h1 class="title">SCHEDULE</h1>

<%= link_to posts_new_path, class: "add-data",  method: :get do %><span>＋</span>スケジュールを追加<% end %>

<div class="title2-container">
<div class="change-month"><%= link_to '←', index_path(p: @x) %></div>
<div class="title2"><%= @this_year %>年<%= @this_month %>月</div>
<div class="change-month"><%= link_to '→', index_path(n: @x) %></div>
</div>
<div class="index">
<% (@first_day..@last_day).each do |day| %>
        <div class="index-content">
            <%= link_to posts_new_path, method: :get do %>
            <div class="index-content-date"><%= day.day %>日 
            ( <span class="<%= "sat" if day.wday == 6 &&  !HolidayJapan.check(day) %> <%= "holiday" if day.wday == 0 || HolidayJapan.check(day) %>"><%= @wday[day.wday] %><% if HolidayJapan.check(day) %>・祝<% end %></span> )
            <b><%= link_to '+ schedule', posts_new_path, class: 'content-add-schedule', method: :get %></b>
            </div>
            <% end %>
            <div class="details">
                <% @posts[day.day].each do |post| %>
                    <div class="index-content-detail">
                    <%= link_to ("/posts/#{post.id}"), method: :get do %>
                    <p><span>現場名：</span><%= post.place %></p>
                    <p><span>従業員：</span><%= post.name %></p>
                    <p><span>備考：</span><%= post.desc %></p>
                    <% end %>
                    <%= link_to("/posts/#{post.id}/edit") do %><p class="fix-content">修正・削除</p><% end %>
                    </div>
                <% end %>
            </div>
        </div>
<% end %>
</div>

<%= link_to posts_new_path, class: "add-data",  method: :get do %><span>＋</span>スケジュールを追加<% end %>

<div class="title2-container">
<div class="change-month"><%= link_to '←', index_path(p: @x) %></div>
<div class="title2"><%= @this_year %>年<%= @this_month %>月</div>
<div class="change-month"><%= link_to '→', index_path(n: @x) %></div>
</div>