<div class="timestamp-index-title">打刻履歴一覧</div>

<div class="timestamps">
    <% @timestamps.each do |timestamp| %>
    <div class="timestamp">
        <div class="timestamp-detail">
            <div class="timestamp-content"><span><%= timestamp.name %></span></div>
            <div class="timestamp-content"><%= timestamp.work_date&.month %>月<%= timestamp.work_date&.day %>日</div>
            <div class="timestamp-content"><%= timestamp.place %></div>
            <div class="timestamp-content">開始時刻：<%= timestamp.start_time&.strftime("%H:%M") %></div>
            <div class="timestamp-content">終了時刻：<%= timestamp.finish_time&.strftime("%H:%M") %></div>
            <% if user_signed_in? && timestamp.user_id == current_user.id %>
            <%= link_to( "/times/#{timestamp.id}/edit") do %><p class="fix-content-time">再入力</p><% end %>
            <% end %>
        </div>
        <div class="timestamp-desc"><span>備考</span><%= simple_format(timestamp.desc) %></div>
    </div>
    <% end %>
</div>