<div class="times-show-wrapper">
    <div class="times-show-title">打刻履歴</div>
    <div class="times-show-name"><%= @userName %><span>さん</span></div>
    <div class="times-show-date"><%= @month %>月<%= @date %>日</div>
    <% if @day_off %>
        <div style="font-size: 1.4rem; text-align: center; margin-top: 1rem;"><span style="color: red; font-size: 12px">※</span>欠勤登録済み</div>
    <% end %>
    <div class="times-show-time-container">
        <div class="times-show-time">
        <span>開始時刻</span><br>
        <%= @start_time_h %>：<%= @start_time_m %>
        </div>
        <div class="times-show-time">
        <span>終了時刻</span><br>
        <%= @finish_time_h %>：<%= @finish_time_m %>
        </div>
    </div>
    <p>現場：<%= @place %></p>
    <p>備考</p>
    <% if @desc.empty? %>
    <div class="times-show-desc"><i>備考入力なし</i></div>
    <% else %>
    <div class="times-show-desc"><%= @desc %></div>
    <% end %>
    <% if @userId == current_user.id || current_user.id == 3 %>
    <%= link_to edit_time_path(id: @timestamp.id, month: @timestamp.month, date: @timestamp.date), class: "backto" do %>修正画面へ<% end %>
    <% end %>
</div>