<div class="add-schedule-content">
    <div class="title2">投稿を修正</div>
    <div class="posts-date"><%= @month %>月<%= @date %>日</div>
    <%= form_tag("/posts/#{@post.id}", method: :patch) do %>
    <p><span>現場名</span><input type="text" name="place" placeholder="現場名" value=<%= @post.place %>></p>
    <p><span>従業員</span><input type="text" name="name" placeholder="従業員" value=<%= @post.name %>></p>
    <p><span>備考</span><textarea type="text" name="desc"><%= @post.desc %></textarea></p>
    <div class="submit"><input type="submit" value="保存"></div>
    <% end %>
    <div class="destroy"><%= button_to("削除", "/posts/#{@post.id}", method: :delete) %></div>
</div>