<div class="posts-show-wrapper">
<h1 class="posts-show-title">スケジュール</h1>
<div class="posts-show-content"><span><%= @month %>月<%= @date %>日</div>
<div class="posts-show-content"><span>現場名：</span><%= @place %></div>
<div class="posts-show-content"><span>従業員：</span><%= @name %></div>
<div class="posts-show-content"><span>備考</span><br><p><%= @desc %></p></div>
<% if @userId == current_user.id %>
<div class="backto"><%= link_to("修正画面へ", "/posts/#{@post.id}/edit") %></div>
<% end %>
<div class="backto schedule"><%= link_to index_path, methjod: :get do %><span>←</span>SCHEDULE<% end %></div>
</div>