<div class="posts-show-wrapper">
<h1 class="posts-show-title">SCHEDULE</h1>
<div class="posts-show-content"><span><%= @month %>月<%= @date %>日</div>
<div class="posts-show-content"><span>現場名：</span><%= @place %></div>
<div class="posts-show-content"><span>従業員：</span><%= @name %></div>
<div class="posts-show-content"><span>備考</span><br>
<% if @desc.empty? %>
<p><i>備考入力なし</i></p>
<% else %>
<p><%= @desc %></p>
<% end %>
</div>
<%= link_to edit_post_path(id: @post.id), class: "backto" do %>修正画面へ<% end %>
<%= link_to index_path, class: "backto" do %><span>←</span>SCHEDULE<% end %>
</div>