<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>NABE2-management</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% content_for :js do %>
      <%= javascript_import_module_tag "application" %>
    <% end %>
    <%= javascript_importmap_tags %>
    <%= yield(:js) %>
  </head>

  <body>
  <div class="container">
  <div class="wrapper">
      <header>
      <%= link_to root_path, class: "logo" do %>
      <div class="logo" id="logo">NABE2</div>
      <% end %>
      <% if user_signed_in? %>
      <%= link_to user_path(id: current_user.id, year: @abs_this_year, month: @abs_this_month), class: "mypage" do %>
      <div class="mypage">マイページ</div>
      <% end %>
      <% end %>
      <div class="hmb" id="hmb">
          <span></span>
          <span></span>
          <span></span>
      </div>
    </header>
    <div class="alt-header"></div>

    <div class="menu" id="menu">
      <ul>
        <!-- <a href="home/top" id="top"><li>TOP</li></a> -->
        <%= link_to index_path do %>
        <li>スケジュール</li>
        <% end %>
        <%= link_to new_time_path do %>
        <li>打刻</li>
        <% end %>
        <%= link_to users_path do %>
        <li>ユーザー一覧</li>
        <% end %>
        <%= link_to destroy_user_session_path method: :delete do %>
        <li>SIGN OUT</li>
        <% end %>
        <a href="mailto:march09yuuto@gmail.com?subject=NABE2アプリ"><li>バグ報告・ご要望</li></a>
      </ul>
    </div>
    <%= yield %>
  </div><!--wrapper-->
  </div><!--container-->
  </body>
</html>